html, body {
	font-size: 50px;
	margin:0 0 0 0;
	overflow: -moz-scrollbars-none;
}
body::-webkit-scrollbar { 
    display: none; 
}
div {
	margin: 20px 20px 20px 20px; 
	background-color: lightblue; 
	text-align:center;
}
#controldiv {
	margin: 0 0 0 0;
	white-space:wrap; 
	border: 2px solid black;
	padding: 0 0 0 0; 
}

#itemsdiv{
	margin: 0 0 0 0;
	overflow: scroll;
	border: 0px solid black;
	background-color: white;
	height: 80%;
	overflow: -moz-scrollbars-none;
}
#itemsdiv::-webkit-scrollbar { 
    display: none; 
}

#noticediv{
	white-space:nowrap;
	overflow:auto;
	margin: 0 0 0 0;	
	height: 12	0px;
	border: 2px dotted black;
	overflow: -moz-scrollbars-none;
}

.taskdiv {
	padding: 20px 20px 20px 20px; 
	margin: 20px 20px 20px 20px; 
	border: 2px solid black;

}
#listbuttons {
	white-space:nowrap;
	overflow:scroll;
	margin: 0 0 0 0;	
	height: 90px;
	border: 2px dotted black;
	overflow: -moz-scrollbars-none;
}
#listbuttons::-webkit-scrollbar { 
    display: none; 
}
input, button, textarea {
	font-size: 120%;
}
option, select, input[type="button"] {
	font-size: 140%;
}
input[type="text"] {
	width: 90%;
}
textarea {
	width: 98%;
}
a {
	font-size: 200%;
}
